.step-challenge-widget
  border-radius: 20px
  box-shadow: $black-shadow
  margin: 10px 10px 10px
  padding-bottom: 20px
  header
    align-items: flex-start
    display: flex
    position: relative
    h1
      margin: 10px 15px
  main
    text-align: center
    h2
      font-weight: 300
      margin: 15px 10px
      text-transform: uppercase
  footer
    display: none
    img
      cursor: pointer
      display: inline
      margin-right: 2px
      width: 10px

.challenge-steps
  color: $numbers-color
  font-size: 35px
  font-weight: 700

.step-winner
  color: $numbers-color
  font-size: 24px
  font-weight: 300
  padding: 10px
  text-transform: uppercase

.step-contestants
  display: block
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 2fr 1fr
  margin: 0 0 15px
  h3
    margin: 0 0 10px 0

@import '../elements/dropdown'
@import '../elements/search'
